[Unit]
Description=MinKNOW Instrument Software for ARM64 Jetson Portable Compute (daemon)
Wants=guppyd.service
After=guppyd.service
Before=display-manager.service

[Service]
ExecStart=/opt/ont/minknow/bin/mk_manager_svc
WorkingDirectory=/opt/ont/minknow
KillMode=mixed
User=root
Group=root
SyslogIdentifier=minknow
LogsDirectory=minknow
LimitCORE=infinity
LimitNICE=40
NoNewPrivileges=true
Type=Notify
ExecStartPre=/bin/sleep 15
CPUQuota=300%


[Install]
WantedBy=multi-user.target